<div class="container my-5">
	<div
		class="row px-5 pb-0 py-lg-5 align-items-center rounded-3 border shadow-lg"
	>
		<div class="col-md-6">
			<h2 class="fw-bold lh-1 text-body-emphasis mb-3"><i class="bi bi-table"></i> Listado de Noticias</h2>
		</div>
        <div class="col-md-6 text-end">
			<a class="btn btn-primary" role="button" href="/noticias/crear">Agregar</a>
        </div>
		<hr class="hr" />
<table class="table table-striped table-bordered mt-3">
	<thead>
		<tr>
			<th class="text-center" scope="col">Id</th>
			<th class="text-center" scope="col">Titulo</th>
			<th class="text-center" scope="col">Creado</th>
			<th class="text-center" scope="col">Actualizado</th>
			<th class="text-center" scope="col">Editar</th>
			<th class="text-center" scope="col">Eliminar</th>
			<th class="text-center" scope="col">Recuperar</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
		<% noticiasFormateadas.forEach(noticia =>{ %>
		<tr class="">
			<th class="text-center align-middle" scope="row"><%= noticia.id %></th>
			<td class="text-center align-middle"><%= noticia.titulo %></td>
			<td class="text-center align-middle"><%= noticia.create_at %></td>
			<td class="text-center align-middle"><%= noticia.updated_at %></td>
			<td class="text-center align-middle">
				<% if (!noticia.delete_at) { %>
				<a
					role="button"
					class="btn btn-success"
					href="/noticias/editar/<%= noticia.id %>"
					><i class="fs-5 bi bi-pencil-fill"></i
				></a>
				<% } %>
			</td>
			<td class="text-center align-middle">
                <% if (!noticia.delete_at) { %>
				<a
					role="button"
					class="btn btn-danger"
					href="/noticias/eliminar/<%= noticia.id %>"
					><i class="fs-5 bi bi-trash3"></i
				></a>
                <% } %>
			</td>
			<td class="text-center align-middle">
				<a role="button" href="/noticias/recuperar/<%= noticia.id %>">
					<% if (noticia.delete_at) { %>
					<i class="btn btn-secondary fs-5 bi bi-arrow-repeat"></i>
					<% } %>
				</a>
			</td>
		</tr>
		<% }); %>
	</tbody>
</table>
</div>
</div>
